services:
  amd64:
    image: smasherofallthings/hugo:amd64-${Tag:-latest}
    build:
      context: '.'
      dockerfile: Dockerfile
      pull: true
      args:
        BaseImage: smasherofallthings/solidjs:amd64-latest
        Version: 0.154.5
        Arch: amd64
      platforms:
        - "linux/amd64"
