services:
  amd64:
    image: smasherofallthings/solidjs:amd64-${Tag:-latest}
    platform: "linux/amd64"
    build:
      context: '.'
      dockerfile: Dockerfile
      pull: true
      args:
        BaseImage: smasherofallthings/base-image:amd64-latest
        NodeVersion: v24.13.0
      platforms:
        - "linux/amd64"
