services:
  amd64:
    image: smasherofallthings/base-image:amd64-${Tag:-latest}
    build:
      context: '.'
      dockerfile: Dockerfile
      pull: true
      args:
        BaseImage: debian:trixie-slim
    platform: "linux/amd64"
